global:
  scrape_interval: 1m
  external_labels:
    origin_prometheus: {{ ansible_facts['hostname'] }}

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

remote_write:
  - url: {{ grafana_host }}
    basic_auth:
      username: {{ grafana_user }}
      password: {{ grafana_token }}
